html {
    position: relative;
    min-height: 100%;
}

html body {
    /* Margin bottom by footer height */
    
    margin-bottom: 60px;
    margin-top: 90px;
    background-color: #F2F2F2;
}

body nav.navbar-custom {
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid black;
    height: 70px;
}

body nav.navbar-custom div.container div.name-text {
    color: #00B4FF;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
    padding: 5px;
    text-shadow: 0px 0px 1px black;
}

body nav.navbar-custom div.container li.active {
    border-bottom: 4px solid #FFA500;
}

body nav.navbar-custom div.container li.active a {
    color: #FFA500;
    font-weight: bold;
}

body nav.navbar-custom div.container a {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    margin-top: 20px;
    padding: 5px;
    height: 30px;
}

body nav.navbar-custom div.container a:hover {
    color: #FFA500;
    background-color: rgba(0, 0, 0, 0);
}

div.home-info {
	background-color: white;
	border-radius: 30px;
	margin-top: 30px;
	margin-bottom: 50px;
	margin-left: 80px;
	margin-right: 80px;
}

p.home-description {
	padding: 20px;
	font-size: 18px;
	text-align: justify;
}

h1.main-title {
    color: green;
    font-size: 42px;
    margin-bottom: 30px;
}

div a.study-link {
	text-decoration: none;
}

div a.study-link div.sponsored-study:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    box-shadow: 5px 5px 10px black;
    text-decoration: none;
}

div a.study-link div.sponsored-study:hover h3 {
    color: green;
}

div a.study-link div.sponsored-study:hover h5 {
    color: #0386BF;
}

div a.study-link div.sponsored-study:hover p {
	color: white;
}

div a.study-link div.sponsored-study {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    margin: 5px;
    margin-bottom: 30px;
    padding: 10px;
    text-decoration: none;
}

div a.study-link div.sponsored-study div.study-info {
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

div a.study-link div.sponsored-study h3 {
    color: black;
    margin-top: 2px;
    text-decoration: underline;
}

div a.study-link div.sponsored-study h5 {
    color: gray;
    margin-top: 0px;
    font-style: italic;
    font-weight: bold;
}

div a.study-link div.sponsored-study p {
	color: black;
}

form h2 {
    color: green;
    margin-top: 0px;
    font-weight: bold;
}

h3.contact-message {
	color: black;
}

h3.contact-message a {
	color: #E82B00;
}

footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    
    height: 40px;
    background-color: #1C1C1C;
}

footer.footer p.footer-text {
    margin-top: 10px;
    color: white;
}

img.magnifier-img {
	height: 35px;
	width: 35px;
}

img.logo-img {
	display: block;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}