html {
    position: relative;
    min-height: 100%;
}

html body {
    /* Margin bottom by footer height */
    
    margin-bottom: 60px;
    margin-top: 90px;
    background-color: #40C7FF;
}

body nav.navbar-custom {
    background-color: rgba(0, 160, 191, 0.95);
    border: 1px solid #00BABF;
    height: 70px;
}

body nav.navbar-custom div.container div.name-text {
    color: #CCB014;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
    padding: 5px;
    text-shadow: 0px 0px 1px black;
}

body nav.navbar-custom div.container li.active {
    border-bottom: 4px solid #FFA500;
}

body nav.navbar-custom div.container li.active a {
    color: #FFA500;
    font-weight: bold;
}

body nav.navbar-custom div.container a {
    color: white;
    background-color: rgba(0, 160, 191, 0.95);
    font-size: 20px;
    margin-top: 20px;
    padding: 5px;
    height: 30px;
}

body nav.navbar-custom div.container a:hover {
    color: #FFA500;
    background-color: rgba(0, 160, 191, 0.95);
}

h1.main-title {
    color: #998B3D;
    text-decoration: underline;
    font-size: 42px;
    text-shadow: 0px 0px 1px black;
    margin-bottom: 30px;
}

div.sponsored-study {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    margin: 5px;
    margin-bottom: 30px;
    padding: 10px;
}

div.sponsored-study:hover {
    background-color: rgba(153, 139, 61, 0.2);
    color: white;
    box-shadow: 5px 5px 10px black;
}

div.sponsored-study:hover h3 {
    color: green;
}

div.sponsored-study:hover h5 {
    color: gray;
}

div.sponsored-study div.study-info {
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

div.sponsored-study h3 {
    margin-top: 2px;
    text-decoration: underline;
}

div.sponsored-study h5 {
    color: gray;
    margin-top: 0px;
    font-style: italic;
    font-weight: bold;
}

form h2 {
    color: green;
    margin-top: 0px;
    font-weight: bold;
}

h3.contact-message {
	color: black;
}

h3.contact-message a {
	color: #E82B00;
}

footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    
    height: 40px;
    background-color: #00A0BF;
}

footer.footer p.footer-text {
    margin-top: 10px;
    color: white;
}