<div style="text-align: center;">

    <form ng-submit="submit()" role="form" style="display:inline-block; max-width: 700px; width: 100%; text-align: left;">

        <h2>Basic Information</h2>

        <div class="form-group">
            <label for="Researcher">Researcher:</label>
            <input ng-model="form.researcher" class="form-control" id="Researcher">
        </div>
        <div class="form-group">
            <label for="StudyName">Study Name:</label>
            <input ng-model="form.studyName" class="form-control" id="StudyName">
        </div>
        <div class="form-group">
            <label for="Summary">Summary Description:</label>
            <textarea rows="3" ng-model="form.summaryDescription" class="form-control" id="Summary"></textarea>
        </div>
        <div class="form-group">
            <label for="Full">Full Description:</label>
            <textarea rows="7" ng-model="form.fullDescription" class="form-control" id="Full"></textarea>
        </div>
        
        <div class="form-group">
            <label for="typeOfStudy">Type Of Study: </label>        
            <div class="btn-group" style="text-align: center; width: 100%;">
                <label class="btn btn-default" ng-model="form.typeOfStudy" ng-model="radioModel" btn-radio="'Case-Control Studies'">Case-Control Studies</label>
                <label class="btn btn-default" ng-model="form.typeOfStudy" ng-model="radioModel" btn-radio="'Cohort Studies'">Cohort Studies</label>
                <label class="btn btn-default" ng-model="form.typeOfStudy" ng-model="radioModel" btn-radio="'Randomized Trials'">Randomized Trials</label>
            </div>
        </div>
        
        <div class="form-group">
            <label for="areaOfInterest">Area of Interest: </label>
            <div class="btn-group" style="text-align: center; width: 100%;">
                <label class="btn btn-default" ng-model="form.areaOfInterest" ng-model="radioModel" btn-radio="'Psychology'">Psychology</label>
                <label class="btn btn-default" ng-model="form.areaOfInterest" ng-model="radioModel" btn-radio="'Child Development'">Child Development</label>
                <label class="btn btn-default" ng-model="form.areaOfInterest" ng-model="radioModel" btn-radio="'Education'">Education</label>
                <label class="btn btn-default" ng-model="form.areaOfInterest" ng-model="radioModel" btn-radio="'Medical'">Medical</label>
                <label class="btn btn-default" ng-model="form.areaOfInterest" ng-model="radioModel" btn-radio="'Philosophy'">Philosophy</label>
                <label class="btn btn-default" ng-model="form.areaOfInterest" ng-model="radioModel" btn-radio="'Engineering'">Engineering</label>
                <label class="btn btn-default" ng-model="form.areaOfInterest" ng-model="radioModel" btn-radio="'Other'">Other</label>
            </div>      
            <input placeholder="If 'Other' is selected, enter a more appropriate category" ng-model="form.areaOfInterest" class="form-control" id="areaOfInterest">
        </div>

        <h2>Eligibility</h2>

        <div class="form-group">
            <label for="Sex">Sex:</label>
            <div class="btn-group" style="text-align: center; width: 100%;">
                <label class="btn btn-default" ng-model="form.sex" ng-model="radioModel" btn-radio="'Male'">Male</label>
                <label class="btn btn-default" ng-model="form.sex" ng-model="radioModel" btn-radio="'Female'">Female</label>
                <label class="btn btn-default" ng-model="form.sex" ng-model="radioModel" btn-radio="'Other'">Other</label>
            </div>
        </div>

        <div class="form-group">
            <label for="Age">Age:</label>
            <div class="btn-group" style="text-align: center; width: 100%;">
                <label class="btn btn-default" ng-model="form.age" ng-model="radioModel" btn-radio="'0-18'">0-18</label>
                <label class="btn btn-default" ng-model="form.age" ng-model="radioModel" btn-radio="'19-64'">19-64</label>
                <label class="btn btn-default" ng-model="form.age" ng-model="radioModel" btn-radio="'65+'">65+</label>
            </div>
        </div>

        <div class="form-group">
            <label for="OtherRequirements">Other Requirements:</label>
            <input ng-model="form.otherRequirements" class="form-control" id="OtherRequirements">
        </div>

        <h2>Study Details</h2>

        <div class="form-group">
            <label for="StartDate">Start Date:</label>
            <input type=date min=2015-01-01 ng-model="form.startDate" class="form-control" id="Start Date">
        </div>

        <div class="form-group">
            <label for="EndDate">End Date:</label>
            <input type=date min=2015-01-01 ng-model="form.endDate" class="form-control" id="End Date">
        </div>
        
        <div class="form-group">
            <label for="Duration">Duration: </label>
            <input ng-model="form.duration" class="form-control" id="Duration">
        
            <label for="Units"></label>
            <div class="btn-group" style="text-align: center; width: 100%;">
                <label class="btn btn-default" ng-model="form.time" ng-model="radioModel" btn-radio="'Minutes'">Minutes</label>
                <label class="btn btn-default" ng-model="form.time" ng-model="radioModel" btn-radio="'Hours'">Hours</label>
                <label class="btn btn-default" ng-model="form.time" ng-model="radioModel" btn-radio="'Days'">Days</label>
                <label class="btn btn-default" ng-model="form.time" ng-model="radioModel" btn-radio="'Weeks'">Weeks</label>
                <label class="btn btn-default" ng-model="form.time" ng-model="radioModel" btn-radio="'Months'">Months</label>
                <label class="btn btn-default" ng-model="form.time" ng-model="radioModel" btn-radio="'Years'">Years</label>
            </div>
        </div>

        <div class="form-group">
            <label for="Town_City">Town/City: </label>
            <input ng-model="form.townCity" class="form-control" id="Town_City">
        </div>

        <div class="form-group">
            <label for="Compensation">Compensation:</label>
            <input ng-model="form.compensation" class="form-control" id="compensation">
        </div>

        <h2>Contact Information</h2>

        <div class="form-group">
            <label for="Phone Number">Phone Number:</label>
            <input ng-model="phonenumber" class="form-control" id="Phone Number">
        </div>

        <div class="form-group">
            <label for="Email">Email:</label>
            <input type=email ng-model="form.email" class="form-control" id="email">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>

    </form>
</div>