<div style="text-align: center;">

    <h2 style="margin:5px">Enter Information for New Study:</h2>

    <form ng-submit="submit()" role="form" style="display:inline-block; max-width: 700px; width: 100%; text-align: left;">

        <h2 style="margin:5px">Basic Information:</h2>

        <div class="form-group">
            <label for="StudyName">Study Name:</label>
            <input ng-model="form.studyname" class="form-control" id="StudyName">
        </div>
        <div class="form-group">
            <label for="Summary">Summary Description:</label>
            <input ng-model="form.summaryDescription" class="form-control" id="Summary">
        </div>
        <div class="form-group">
            <label for="Full">Full Description:</label>
            <input ng-model="form.fullDescription" class="form-control" id="Full">
        </div>

        <h2 style="margin:5px">Eligibility:</h2>

        <div class="form-group">
            <label for="Sex">Sex:</label>
            <div class="btn-group" style="text-align: center; width: 100%;">
                <label class="btn btn-default" ng-model="form.sex" ng-model="radioModel" btn-radio="'Male'">Male</label>
                <label class="btn btn-default" ng-model="form.sex" ng-model="radioModel" btn-radio="'Female'">Female</label>
                <label class="btn btn-default" ng-model="form.sex" ng-model="radioModel" btn-radio="'Other'">Other</label>
            </div>
        </div>

        <div class="form-group">
            <label for="Age">Age:</label>
            <div class="btn-group" style="text-align: center; width: 100%;">
                <label class="btn btn-default" ng-model="form.age" ng-model="radioModel" btn-radio="'0-18'">0-18</label>
                <label class="btn btn-default" ng-model="form.age" ng-model="radioModel" btn-radio="'19-64'">19-64</label>
                <label class="btn btn-default" ng-model="form.age" ng-model="radioModel" btn-radio="'65+'">65+</label>
            </div>
        </div>

        <div class="form-group">
            <label for="OtherRequirements">Other Requirements:</label>
            <input ng-model="form.otherRequirements" class="form-control" id="OtherRequirements">
        </div>

        <h2 style="margin:5px">Study Details:</h2>

        <div class="form-group">
            <label for="StartDate">Start Date:</label>
            <input type=date min=2015-01-01 ng-model="form.startDate" class="form-control" id="Start Date">
        </div>

        <div class="form-group">
            <label for="EndDate">End Date:</label>
            <input type=date min=2015-01-01 ng-model="form.endDate" class="form-control" id="End Date">
        </div>
        
        <div class="form-group">
            <label for="Duration">Duration: </label>
            <input ng-model="form.duration" class="form-control" id="Duration">
        
            <label for="Units"></label>
            <div class="btn-group" style="text-align: center; width: 100%;">
                <label class="btn btn-default" ng-model="c" ng-model="radioModel" btn-radio="'Minutes'">Minutes</label>
                <label class="btn btn-default" ng-model="c" ng-model="radioModel" btn-radio="'Hours'">Hours</label>
                <label class="btn btn-default" ng-model="c" ng-model="radioModel" btn-radio="'Days'">Days</label>
                <label class="btn btn-default" ng-model="c" ng-model="radioModel" btn-radio="'Weeks'">Weeks</label>
                <label class="btn btn-default" ng-model="c" ng-model="radioModel" btn-radio="'Months'">Months</label>
                <label class="btn btn-default" ng-model="c" ng-model="radioModel" btn-radio="'Years'">Years</label>
            </div>
        </div>

        <div class="form-group">
            <label for="Town_City">Town/City: </label>
            <input ng-model="form.townCity" class="form-control" id="Town_City">
        </div>

        <div class="form-group">
            <label for="Compensation">Compensation:</label>
            <input ng-model="form.compensation" class="form-control" id="compensation">
        </div>

        <h2 style="margin:5px">Contact Information:</h2>

        <div class="form-group">
            <label for="Phone Number">Phone Number:</label>
            <input ng-model="phonenumber" class="form-control" id="Phone Number">
        </div>

        <div class="form-group">
            <label for="Email">Email:</label>
            <input type=email ng-model="form.email" class="form-control" id="email">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>

    </form>
</div>