<h1 class="main-title">Studies</h1>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="sponsored-study">
        <div class="study-info">
            <h3>Title</h3>
            <h5>Credentials, U of W</h5>
        </div>
        <p>This is the actual info about the study. It can go on and on and on for quite a while, and I hope there are no issues. Side-effects may include an award for an awesome website and creativity.</p>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="sponsored-study">
        <div class="study-info">
            <h3>Title</h3>
            <h5>Credentials, U of W</h5>
        </div>
        <p>This is the actual info about the study. It can go on and on and on for quite a while, and I hope there are no issues. Side-effects may include an award for an awesome website and creativity.</p>
    </div>
</div>
<div class="clearfix visible-sm-block"></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="sponsored-study">
        <div class="study-info">
            <h3>Title</h3>
            <h5>Credentials, U of W</h5>
        </div>
        <p>This is the actual info about the study. It can go on and on and on for quite a while, and I hope there are no issues. Side-effects may include an award for an awesome website and creativity.</p>
    </div>
</div>
<div class="clearfix visible-md-block"></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="sponsored-study">
        <div class="study-info">
            <h3>Title</h3>
            <h5>Credentials, U of W</h5>
        </div>
        <p>This is the actual info about the study. It can go on and on and on for quite a while, and I hope there are no issues. Side-effects may include an award for an awesome website and creativity.</p>
    </div>
</div>
<div class="clearfix visible-lg-block"></div>

<form class="form-inline">
    <div class="form-group" style="width: 100%; text-align:center">
        <div class="form-group">
            <input type="text" class="form-control" id="searchInput" placeholder="Enter a search term">
        <select class="form-control" id="searchFilter">
            <option value="studyName">Study Name</option>
            <option value="studyCategory">Study Category</option>
            <option value="researcher">Researcher</option>
            <option value="townCity">Town/City</option>
            <option value="duration">Duration</option>
            <option value="age">Age</option>
            <option value="sex">Sex</option>
            <option value="compensation">Compensation</option>
        </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>