<h1 class="main-title">Studies</h1>
<form>
    Study name:
    <br>
    <input type="text" name="StudyName">
    <br>
    <br> Summary Description:
    <br>
    <input type="text" name="SummaryDescription">
    <br>
    <br> Full Description:
    <br>
    <input type="text" name="FullDescription">
    <br>
    <br>
    
    <h2>Eligibility:</h2>

    <br>
    <br> Sex:

    <br>
    <input type="radio" name="Sex" value="Male" checked> Male
    <br>
    <input type="radio" name="Sex" value="Female" checked> Female
    <br>
    <input type="radio" name="Sex" value="All" checked> All
    <br>
    <input type="radio" name="Sex" value="Not                           Applicable" checked> Not Applicable
    <br>
    <br> Age Range:
    <br>
    <input type="radio" name="Age" value="0-18" checked> 0-18
    <br>
    <input type="radio" name="Age" value="19-45" checked> 19-64
    <br>
    <input type="radio" name="Age" value="65+" checked> 65+
    <br>
    <input type="radio" name="Age" value="Custom"> Other
    <input type="text" name="Age">
    <br>
    <br> Other Requirements:
    <br>
    <input type="text" name="other">
    <br>
    <br>
    
    <h2>Information About the Study:</h2>
    
    <br>
    <br> Start Date:
    <br>
    <input type="text" name="StartMonth" placeholder="Month">
    <input type="text" name="StartDay" placeholder="Day">
    <input type="text" name="StartYear" placeholder="Year">
    <br>
    <br> End Date:
    <br>
    <input type="text" name="EndMonth" placeholder="Month">
    <input type="text" name="EndDay" placeholder="Day">
    <input type="text" name="EndYear" placeholder="Year">
    <br>
    <br> Approximate Participant Study Length:
    <br>
    <input type="text" name="StudyLength">
    <select>
        <option value="minutes">Minutes</option>
        <option value="hours">Hours</option>
        <option value="days">Days</option>
        <option value="weeks">Weeks</option>
        <option value="months">Months</option>
        <option value="years">Years</option>
    </select>
    
    <br>
    <br> Town/City:

    <br>
    <input type="text" name="Town_City">
    <br>
    <br> Compensation:

    <br>
    <input type="text" name="Compensation">
    <br>
    <br>
    
    <h2>Contact Information:</h2>
    
    <br>
    <br> Phone Number:
    <br>
    <input type="text" name="PhoneNumber">
    <br>
    <br> Email:

    <br>
    <input type="text" name="Email">
    <br>
    <br>

    <input type="submit" value="Submit">
    <br>
    <br>

    <br>
    <br>

</form>