<h1 class="main-title">Studies</h1>

<form ng-submit="study.submit()" class="form-inline">
    <div class="form-group" style="width: 100%; text-align:center">
        <div class="form-group">
            <input type="text" class="form-control " id="searchInput" ng-model="study.form.searchInput" placeholder="Enter a search term">
            <select class="form-control" id="areaOfInterest" ng-model="study.form.area">
                <option value="studyName">Study Name</option>
                <option value="areaOfInterest">Area of Interest</option>
                <option value="researcher">Researcher</option>
                <option value="townCity">Town/City</option>
                <option value="duration">Duration</option>
                <option value="age">Age</option>
                <option value="sex">Sex</option>
                <option value="compensation">Compensation</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<div ng-repeat="Cstudy in study.studies|orderBy:rank|limitTo:6" class="col-md-4">
    <a ng-href="#/study/{{Cstudy._id}}" class="study-link">
        <div class="sponsored-study">
            <div class="study-info">
                <h3>{{Cstudy.studyName}} <span class="rank pull-right">{{Cstudy.rank}}</span></h3>
                <h5>{{Cstudy.researcher}}</h5>
            </div>
            <p>{{Cstudy.summaryDescription}}</p>
        </div>
    </a>
</div>